<br>
             <div class="btn-group">
               <span id="b_btn" class="btn btn-sm btn-default">B</span>
               <span id="i_btn" class="btn btn-sm btn-default">I</span>
               <span id="h_btn" class="btn btn-sm btn-default">H</span>
               <span id="img_btn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-picture"></span></span>
               <span id="url_btn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-link"></span></span>
               <span id="at_btn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-user"></span></span>
             </div><br>