{% extends "themes/default.html.twig" %}


{% block title "Twiggy.us" %}

{% block content %}
<section class="section">
	  <div class="container hero">
		<strong>Selamat datang di planet baru vert!</strong>
		<br/>
		<small> belum tau apa itu introvert? yuk simak dulu <a class="">disini</a> </small>
	  </div>
      
	  <div class="container-fluid discusi">
		<div class="topic-name">
		  Do i know u guys?
		</div>
		<div class="userpost">
	<img data-name="AkrinMin" class="avatar">
	  <strong>Akrin min</strong>
		<br/>
		  <small class="text-muted">januari 22,2018</small>
		</div>
	  
	  
	  <div class="postbody">
		lorem anddm sdns sd smsksd snks sdkkhs nksksksddklgksns sdddksg sfkkkkkkkkkkkkjjkkjkjjjjjjjjjnjjjhjjkjkkkgjkaskdkafdfssmmkkjhllslkkslslslswmdmmnsmsmsksd
		sdfgdmss
		
		<div class="postattr">
		  <font color="red"> &hearts;</font> like this? 
		</div>
	  </div>
	  </div>
	  
	  <div class="comments">
		<div class="comment">
		<div class="comment-meta">
		  <div class="userpost">
			<img data-name="AkrinMin" class="avatar">
			<strong>Akrin min</strong>
			<br/>
			<small class="text-muted">januari 22,2018</small>
		  </div>
		</div>
		<div class="comment-body">
		  hhgggb hjjjknbvg
		  jkkkkkkkkkkkjvgyy
		  jjhh
		  
		  <div class="commentattr">
			<a class="text-primary">quote</a>
		  </div>
		</div>
		</div>
		
		<div class="comment">
		  <div class="comment-meta">
			<div class="userpost">
			  <img data-name="AkrinMin" class="avatar">
			  <strong>Akrin min</strong>
			  <br/>
			  <small class="text-muted">januari 22,2018</small>
			</div>
		  </div>
		  <div class="comment-body">
			hhgggb hjjjknbvg
			jkkkkkkkkkkkjvgyy
			jjhh
			
			<div class="commentattr">
			  <a class="text-primary">quote</a>
			</div>
		  </div>
		</div>
		
		<div class="comment">
		  <div class="comment-meta">
			<div class="userpost">
			  <img data-name="AkrinMin" class="avatar">
			  <strong>Akrin min</strong>
			  <br/>
			  <small class="text-muted">januari 22,2018</small>
			</div>
		  </div>
		  <div class="comment-body">
			hhgggb hjjjknbvg
			jkkkkkkkkkkkjvgyy
			jjhh<div class="commentattr">
			  <a class="text-primary">quote</a>
			</div>
		  </div>
		</div>
		
		<div class="comment">
		  <div class="comment-meta">
			<div class="userpost">
			  <img data-name="AkrinMin" class="avatar">
			  <strong>Akrin min</strong>
			  <br/>
			  <small class="text-muted">januari 22,2018</small>
			</div>
		  </div>
		  <div class="comment-body">
			
			<div class="quoted">
			  <span><b>akrin</b></span> said:
			  
			  <br/><br>
			  ypoo okkaaii nnppppp
			</div>
			
			hhgggb hjjjknbvg
			jkkkkkkkkkkkjvgyy
			jjhh
			
			<div class="commentattr">
			  <a class="text-primary">quote</a>
			</div>
		  </div>
		  
		  
		</div>
		
		
	  </div>
	  <div class="pager">
		<ul class="pagination pagination-sm">
		  <li class="page-item"><a class="page-link">1</a></li>
		  <li class="page-item"><a class="page-link">2</a></li>
		</ul></div>
	  <div class="form-comment">
		<textarea id="teet"></textarea>
		<button type="submit" class="btn btn-primary btn-sm">send</button>
	  </div>
	 
	</section>
{% endblock %}